<button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal"
data-bs-target="#staticBackdrop" (click)="createInvoice()">
  <i class="fa-solid fa-plus"
  style="font-size: 1.3rem; cursor: pointer;"
  >
</i>
  Crear una nueva facutra</button>

<div class="d-flex p-3" id="table">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nombre Comercio</th>
        <th scope="col">Nit</th>
        <th scope="col">Dirección</th>
        <th scope="col">Nombre usuario</th>
        <th scope="col">Identificación</th>
        <th scope="col">Email</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoice of invoices">
        <td>
          {{invoice.commerce.code}}
        </td>
        <td>
          {{invoice.commerce.name}}
        </td>
        <td>
          {{invoice.commerce.nit}}
        </td>
        <td>
          {{invoice.commerce.address}}
        </td>
        <td>
          {{invoice.user.id}}
        </td>
        <td>
          {{invoice.user.name}}
        </td>
        <td>
          {{invoice.user.mail}}
        </td>
        <td class="d-flex justify-content-between">
          <i class="fa-solid fa-pen-to-square"
            style="font-size: 1.3rem; cursor: pointer;"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
            (click)="showModalEdit(invoice)">
          </i>
          <i class="fa-solid fa-eye"
            style="font-size: 1.3rem; cursor: pointer;"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
            (click)="showInvoice(invoice)">
          </i>
          <i class="fa-solid fa-trash"
            style="font-size: 1.3rem; cursor: pointer;"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
            (click)="deleteInvoice(invoice)">
          </i>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<shared-modal
[title]="title"
[meansPayment]="meansPayment"
[newInvoice]="isEdit"
[isDelete]="isDelete"
[selectedInvoice]="selectedInvoice">
</shared-modal>
